html {
  background-color: black;
  border-color: white;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 25px;
}

.title-block {
  padding-top: 200px;
  text-align: center;
  padding-bottom: 80px;
}

img.title-image {
  width: 70%;
  height: 70%;
}

.about {
  display: flex;
  text-align: center;
  color: white;
  justify-content: center;
  padding-bottom: 150px;
}

.introduce {
  display: flex;
  flex-direction: column;
  color: white;
}

.intro-group {
  display: flex;
  border-color: black;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
  border: 5px;
  border-style: inset none none none;
  padding-bottom: 40px;
  border-color: white;
}

img.intro-image {
  width: 40%;
  height: 40%;
}

.intro-about {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn,
a.btn,
button.btn {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale();
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  /* border-radius: 0.5rem; */
  border-color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: row;
  align-items: center;
  border: 5px;
  border-style: inset none none none;
  padding-bottom: 40px;
  border-color: white;
}

a.link-btn {
  margin-bottom: 20px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  max-height: 190px;
}

p.footer-pala {
  font-size: 25px;
  color: black;
}

.product-link {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.footer {
  font-weight: bold;
}

@media (max-width: 600px) {
  .links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 100px;
    align-content: center;
    flex-direction: column;
    border: 5px;
    border-style: inset none none none;
    padding-bottom: 40px;
    border-color: white;
  }

  a.link-btn {
    margin-bottom: 20px;
    width: 70%;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  p {
    font-size: 12.5px;
  }

  .btn,
  a.btn,
  button.btn {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.6rem 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: scale();
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    /* border-radius: 0.5rem; */
    border-color: white;
  }

  .title-block {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 40px;
    border-color: black;
  }

  .about {
    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
    padding-bottom: 75px;
  }

  .product-link {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
  }

  .intro-about {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
  }

  .intro-group {
    display: flex;
    border-color: black;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    border: 5px;
    border-color: white;
    border-style: inset none none none;
    padding-bottom: 20px;
  }

  p.footer-pala {
    font-size: 12px;
    color: black;
  }
}
